---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% set absoluteBaseUrl = "https://smartlifebrasil.netlify.app" %}
{% for item in collections.all %}
    {# Verifica se a página não é um rascunho (draft) e tem uma URL #}
    {% if item.url and not item.data.draft %}
    <url>
        <loc>{{ item.url | absoluteUrl(absoluteBaseUrl) }}</loc>
        <lastmod>{{ item.date | dateToISO }}</lastmod>
        <changefreq>weekly</changefreq>
        <priority>0.5</priority>
    </url>
    {% endif %}
{% endfor %}
</urlset>